@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About the VMS";
}
<p>
    This web site was created to allow volunteers to register online for volunteer events offered by the California State Fullerton (CSUF) Volunteer and Service Center.
</p>