@{
    Layout = "~/_SiteLayout_Admin.cshtml";
    Page.Title = "Report Generation";
}
<p>
    <br/>
    <br/>
    Select one of the following report types to download:
    <br/>
    <br/>
    <br/>
    <form method="post" action="">
        <fieldset>
            <legend>Available Reports</legend>
            <input type="submit" value="All Students and Info" title="All Students and Info" />
            </br>
            </br>
            </br>
            <input type="submit" value="All Volunteers Hours per Event" title="All Volunteers Hours per Event" />
        </fieldset>
    </form>
</p>