@{
    Layout = "~/_SiteLayout_Admin.cshtml";
    Page.Title = "Change User Information and/or Privileges";
}
<p>
    <br/>
    <br/>
    <br/>
    <form method="post" action="">
        <fieldset>
            <legend>Find User</legend>
            <label for="confirmationCode">
                To change user information or priviledges, first enter the user id:
            </label>
            </br>
            <input type="text" id="UserID" name="USERID" title="User id" />
            <input type="submit" value="Submit" title="Submit" />
        </fieldset>
    </form>
</p>