@{  
    Layout = "~/_SiteLayout_Admin.cshtml";
    Page.Title = "Administrator Home Page";
}
<p>
    You are now logged in.<br/>
    <br/>    
    To return to the CSUF Voluteer and Service Center home page, click <a href="http://www.fullerton.edu/deanofstudents/volunteer/index.html">here</a>.
</p>