@{  
    Layout = "~/_SiteLayout_Director.cshtml";
    Page.Title = "Director Home Page";
}
<p>
    You are now logged in.<br/>
    <br/>    
    To return to the CSUF Voluteer and Service Center home page, click <a href="http://www.fullerton.edu/deanofstudents/volunteer/index.html">here</a>.
</p>