@{  
    Layout = "~/_SiteLayout_Director.cshtml";
    Page.Title = "Confirm Volunteer Attendence for Events";
}
<p>
    To confirm attendence, find the event through the links below:
    <br/>
    <br/>    
    Open Projects:
    <br/>
    ...projects...
</p>