@{
    Layout = "~/_SiteLayout_Volunteer.cshtml";
    Page.Title = "Your Event Signups";
}
<p>
    <h3>
        The volunteer events you are currently signed up for:
    </h3>
    <p>
    ...A list of events will go here with buttons for more event information or to cancel events...
    </p>
</p>