@{
    Layout = "~/_SiteLayout_Volunteer.cshtml";
    Page.Title = "Your Volunteering Transcript";
}
<p>
    <h3>
        Events:
    </h3>
    <p>
    ...This is be a list of events with an indicator for whether or not attendence was confirmed at an event...
    </p>
</p>