@{
    Layout = "~/_SiteLayout_Volunteer.cshtml";
    Page.Title = "Cancel Signups";
}
<p>
    <h3>
        Select the event signup to cancel by clicking the title of the event...
    </h3>
    <p>
    ...Events will be listed here...
    </p>
</p>