@{
    Layout = "~/_SiteLayout_Volunteer.cshtml";
    Page.Title = "Current Projects and Events";
}
<p>
    <h3>
        Click the below titles to expand information about the projects...
    </h3>
    <p>
    ...Projects and event lists will go here with buttons to initiate signups...
    </p>
</p>