@{
    Layout = "~/_SiteLayout_Volunteer.cshtml";
    Page.Title = "Your Information";
}
<p>
    <h3>
        Current Personal Information
    </h3>
    <p>
    ...Personal info goes here...
    </p>
</p>